.head{
    
    background-size: cover;
    padding: 25px;
    padding-left: 100px;
    
}

.head p{
    color: #fff;
    margin-top: 0;
    text-align: left;
    font-weight: normal;
    
}
.head p{
    color: #ddd;
    font-weight: normal;
    font-size: 24px;
    text-align: center;
}
.head form{
    margin-top: 50px;
}
.head form select,.head form button , .head form input {
 padding: 15px;
 text-align: center;
width: 250px;
background: transparent;
color: rgb(255, 255, 255);
font-size: 18px;
font-weight: bold;
border:1px solid #fff;
}
.head form select option{
    color: rgb(0, 0, 0);
    border-radius: 50px;
    background: #ddd;
    padding: 5px;
}
.head form input::placeholder{
    color: #fff;
}
.head form select:first-of-type {

   border-top-left-radius: 20px;
   border-bottom-left-radius: 20px;
}
.head form button{
   border-top-right-radius: 20px;
   border-bottom-right-radius: 20px;
   color: #fff;
   background-color: red;
}
   
