.header{
    height: 550px;
    background-size: cover;
    padding: 100px;
}

.header h1{
    color: #fff;
    margin-top: 0;
    text-align: left;
    font-weight: normal;
    
}
.header p{
    color: #ddd;
    margin-top: 0;
    text-align: left;
    font-weight: normal;
    font-size: 24px;
    
}
.header form{
    margin-top: 170px;
}
.header form select,.header form .btn , .header form input {
 padding: 15px;
 text-align: center;
width: 250px;
background: transparent;
color: rgb(255, 255, 255);
font-size: 18px;
font-weight: bold;
border:1px solid #fff;
}
.header form select option{
    color: rgb(0, 0, 0);
}
.header form input::placeholder{
    color: #fff;
}
.header form select:first-of-type {
   border-top-left-radius: 20px;
   border-bottom-left-radius: 20px;
}
.header form .btn{
   border-top-right-radius: 20px;
   border-bottom-right-radius: 20px;
   color: #fff;
   background-color: red;
}
   
