.container{
    width: 40%;
    margin: auto;
    
}
.bg{
    background-color: rgb(228, 227, 227);
    padding-top: 10px;
    padding-bottom: 100px;
}
.addinternalship{
    background-color: #fff;
    border: 1px soild #fff;
    border-radius: 20px;;
    color: rgb(22, 22, 22);
    padding: 3%;
    padding-bottom: 0px;
    padding-left: 3%;
}
.addinternalship h3{
    font-size: 20px;
    font-weight: bold;
    background-color: #0070cd;
    padding: 10px;
    border-radius: 10px;
    color: #fff;
}
.addinternalship .form{
    overflow: hidden;
    text-align: center;
    border-bottom: 2px solid #ddd;
    padding-bottom: 25px;
}
.addinternalship .form .field{
    float: left;
    width: 100%;
    margin: auto;
    margin-top:20px;
}
.addinternalship .form .field input{
  float: left;
  width: 55%;
  padding: 10px;
  border-radius: 5px;
  color: rgb(22, 22, 22);
}
.addinternalship .form .field select{
    float: left;
    width: 55%;
    padding: 12px;
    border-radius: 5px;
    color: rgb(22, 22, 22);
  }
.addinternalship .form .field .radio{
    display: inline-block;
    width: 20%;
    border-radius: 5px;
  }
.addinternalship .form .field label{
    float: left;
    width: 35%;
    text-align: left;
    font-size: 18px;
  }
.addinternalship .form .btn{
    width:150px;
    font-size: 20px;
    text-align: center;
    border-radius: 10px;
    background-color: #fff;
    color: #0070cd;
    transition: all .5s ease-in-out;
    border: 1px solid #0070cd;
}
.addinternalship .form .btn:hover{
    background-color: #0070cd;
    color:#fff ;
}