.list{
    background-color: #ddd;
}
.conatiner{
    width: 60%;
    margin: auto;
}
/*start sort*/
.list .sort{
    overflow: hidden;
    margin-top: 50px;
}
.list .sort .count{
    float: left;
    text-align: left;
    width: 70%;
    font-size: 22px;

}

.list .sort .btn{
    float: left;
    text-align: right;
    
}
.list .sort .btn label{
    font-size: 18px;
    margin-right: 10px;
}

.list .sort .btn select{
    padding: 10px;
    width: 200px;
    border-radius: 10px;
}
/*end sort */
.list .lawyers{
    overflow: hidden;
    margin-top: 30px;
   
}

.list .lawyers .lawyer{
    float: left;
    width: 90%;
    border:1px solid #fff;
    border-radius: 20px;
    background-color: rgba(255,255,255,.8);
    padding: 10px;
    margin-bottom: 25px;
    margin-left: 25px;
}

/*start Content/sections */
.list .lawyer .img{
    float: left;
    width: 25%;
}

.list .lawyer .img img{
    width: 60%;
    height: 150px;
    border-radius: 50%;
    margin-left: 20px;
    border:1px solid #ddd;
    margin-top: 25px;
    display: block;
}
.list .lawyer .mainInfo{
    float: left;
    width: 40%;
    text-align: left;
}
.list .lawyer .mainInfo p{
    margin-left: 25px;
}
.list .lawyer .mainInfo .degName{
    display: block;
    width: 100%;
    margin: auto;
    margin-left: 0;
}
.list .lawyer .mainInfo .name{
    font-size: 30px;
    font-weight: bold;
    
}
.list .lawyer .secInfo{
    float: left;
    width: 30%;
    text-align: left;
}
.list .lawyer .secInfo .bookBtn{
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    background-color: #0070cd;
    color: #FFF;
    border-radius: 20px;
    width: 100px;
    padding: 5px;
    display:block;
}
.bookBtn:hover{
    text-decoration: none;
    background-color: #fff;
    color: #0070cd;
}
/*end Content/sections */